*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
main{
    width: 100%;
    height: 100vh;
    background-color: rgb(0, 195, 255);
    background-image: url(blue1..jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    background-blend-mode: overlay;
}
.card{
    width: 300px;
    height: 400px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 30px;
    border-style: 20px;
    box-shadow: 5px 5px 10px black;
}
.img-con{
    width: 100%;
    height: 25%;
}
.img-con img{
    width: 100%;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}
.profile-pic{
    width: 120px;
    height: 120px;
    border-radius: 100px;
    background-color: aliceblue;
}
.profile-pic img{
    width: 100%;
    height: 100%;
    border-radius: 100%;
    border: 5px solid white;
}
.name{
    width: 100%;
    text-align: center;
    padding: 20px opx 50px 0px;
    border-bottom: 2px solid rgb(216, 201, 201);
}
h2{
    margin-bottom: 10px;
}
h2 span{
    color: gray;
    margin-left: 5px;
    font-weight: 400;
}
p{
    color: grey;
}
.reactions{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
.reactions p{
    font-size: 1.0rem;
}